{% block content %}
<html>
<html>
    <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body bgcolor="black" style="color:white;" vlink="#017bf5"  alink="red"><center>
    <h1>About&nbsp;&nbsp;Web&nbsp;Page <i class="fa fa-apple" style="font-size:30px"></i><h1><br><hr>
    <font face="laptop" size="5px">Basic Student Data Store System</font>
    <h3><a href="https://www.bing.com/search?pglt=43&q=www.programing+language.com&cvid=394abbfd6e3c4509bf6f577c72f0ab7a&aqs=edge.0.69i59j69i57j69i60j69i64.18419j0j1&FORM=ANAB01&PC=ASTS">Languages Used</a></h3>
        <h4>Python</h4>
        <h4>Html</h4>
        <h4>Css</h4>
    <h3><a href="https://www.bing.com/search?q=www.frame+work.com&qs=n&form=QBRE&sp=-1&lq=0&pq=www.frame+work.com&sc=2-18&sk=&cvid=A3EF7EB8918240E7B4C7D7A66CE87BBD&ghsh=0&ghacc=0&ghpl=">Frame Work Used</a></h3>
        <h4>Flask</h4>
    <h3><a href="https://www.bing.com/search?pglt=43&q=www.data+base.com&cvid=3fcce9f0d4854b1cbb608f9c02b5b7dc&aqs=edge..69i57j0l2j69i60j69i64.9222j0j1&FORM=ANAB01&PC=ASTS">Data Base Used</a></h3>
        <h4>MongoDB</h4>
        <br>
    <h2>Programing Language --<h2>
        <p><h3>Computer programming is the process of performing particular computations or more generally, accomplishing specific computing results, usually by designing and building executable computer programs.
Programming involves tasks such as analysis, generating algorithms, profiling algorithms' accuracy and resource consumption, and the implementation of algorithms (usually in a particular programming language, 
commonly referred to as coding). The source code of a program is written in one or more languages that are intelligible to programmers, rather than machine code, which is directly executed by the central 
processing unit.The purpose of programming is to find a sequence of instructions that will automate the performance of a task (which can be as complex as an operating system) on a computer, often for solving a 
given problem.Proficient programming thus usually requires expertise in several different subjects, including knowledge of the application domain, specialized algorithms, and formal logic.Tasks accompanying and 
related to programming include testing,debugging, source code maintenance, implementation of build systems, and management of derived artifacts, such as the machine code of computer programs.
        </h3></p><br>
    <h2>Frmae Work --</h2><br>
    <table>
        <tr><td>~&nbsp; Application framework, used to implement the structure of an application for an operating system.<br><br></td></tr>
        <tr><td>~&nbsp; Architecture framework.<br><br></td></tr>
        <tr><td>~&nbsp; Content management framework, reusable components of a content management system.<br><br></td></tr>
        <tr><td>~&nbsp; CSS framework.<br><br></td></tr>
        <tr><td>~&nbsp; Enterprise architecture framework.<br><br></td></tr>
        <tr><td>~&nbsp; Framework office suite, a DOS office application suite in 1984.<br><br></td></tr>
        <tr><td>~&nbsp; Framework Computer, a laptop manufacturer for modular laptops.<br><br></td></tr>
        <tr><td>~&nbsp; Framework-oriented design, uses existing frameworks for application design.<br><br></td></tr>
        <tr><td>~&nbsp; List of rich web application frameworks.<br><br></td></tr>
        <tr><td>~&nbsp; Logical framework.<br><br></td></tr>
        <tr><td>~&nbsp; Multimedia framework, handles media on a computer and through a network.<br><br></td></tr>
        <tr><td>~&nbsp; Software framework, a reusable set of libraries or classes for a software system or subsystem.<br><br></td></tr>
        <tr><td>~&nbsp; Web framework, for development of dynamic websites, web applications, and web services.<br><br></td></tr>
        <table><br>
    <h2>MongoDB --</h2>
        <p><h4>
        As of October 2018, MongoDB is released under the Server Side Public License (SSPL), a non-free license developed by the project. It replaces the GNU Affero General Public License, and is nearly identical 
to the GNU General Public License version 3, but requires that those making the software publicly available as part of a "service" must make the service's entire source code (insofar that a user would be able to recreate 
the service themselves) available under this license. By contrast, the AGPL only requires the source code of the licensed software to be provided to users when the software is conveyed over a network.The SSPL was submitted 
for certification to the Open Source Initiative but later withdrawn.In January 2021, the Open Source Initiative stated that SSPL is not an open source license.The language drivers are available under an Apache License.
In addition, MongoDB Inc. offers proprietary licenses for MongoDB. The last versions licensed as AGPL version 3 are 4.0.3 (stable) and 4.1.4. MongoDB has been removed from the Debian, Fedora and Red Hat Enterprise Linux 
distributions due to the licensing change. Fedora determined that the SSPL version 1 is not a free software license because it is "intentionally crafted to be aggressively discriminatory" towards commercial users.
        </h4></p>
        <hr>
        <i><h2>Thanks For Coming. . !</h2></i>
        <a href="home">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="show data">Show Data</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="about">About</a>
        <br><br>
        <p>Copyright 2023 by Refsnes Data. All Rights Reserved.
    Web Page <i class="fa fa-apple" style="font-size:15px"></i><p>
    </center></body>
</html>
{% endblock %}