{% block heading%}<center><br /><font face="lato" size="6">ADD DATA</font></center>{% endblock %}

{% block content %}
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-color:#BCC6CC;" link="#000" alink="017bf5" vlink="#000"><center>
    <br /><br /><br /><br /><br /><br /><br />
    <font face="lato" size="7">Data Sucessfuly Add To The Data Base</font> <i class="fa fa-database" style="font-size:40px;color: #017bf5;"></i></h1>
    <br /><br /><br /><br /><br /><br /><br />
    <font face="lato" size="5"><a href="home">Home</a></font><br><br /><br /><br />
    <font face="lato" size="5"><a href="show data">Show Data</a></font><br><br /><br /><br />
    <font face="lato" size="5"><a href="about">About</a></font>
</center></body>
</html>
{% endblock %}