<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width = device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="wrapper">
        <div class="topnav"> 
            <a href="home">Home <i class="fa fa-home" style="font-size:20px"></i></a>
            <a href="add data">Add Data <i class="fa fa-book" style="font-size:20px"></i></a>
            <a href="show data">Show Data <i class="fa fa-database" style="font-size:20px"></i></a>
            <a href="about">About <i class="fa fa-exclamation-circle" style="font-size:20px"></i></a>
        </div>
    </div>
        <h2>{% block heading %}{% endblock %}</h2>
        <p>{% block content %}{% endblock %}</p>
</body>
</html>